{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}" style="color:rgba(38, 31, 31, 0.75)">{{ post.title }}</a></h2>
                    <p class="post-meta">
                                                               时间:<a class="post-author">{{ post.created_time|date:"Y /m /d" }}</a> 
                                                               分类:<a class="post-category post-category-js" href="#">{{ post.category }}</a>
                                                               标签:
                          {% for tag in post.tag.all %}
                            <a class="post-category post-category-pure" href="#">{{ tag }}</a>
                          {% endfor %}
                    </p>
            </header>
                <div class="post-description">
                    <p>
        {{ post.abstract|custom_markdown }}
                    </p>
                </div>
        </section>
    {% endfor %}
</div>
{% endblock %}


           
